@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  font-family: "Outfit", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: hsl(30, 54%, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 3%;
  display: flex;
  flex-direction: column;
  width: 50vw;
}

img {
  width: 100%;
  border-radius: 6px;
}

.main-heading,
.sub-heading {
  font-family: "Young Serif", serif;
  font-weight: 400;
}

.main-heading {
  color: hsl(24, 5%, 18%);
}

.sub-heading {
  color: hsl(14, 45%, 36%);
}

p {
  font-size: 16px;
}

.prep-time-card {
  padding: 1% 4%;
  background-color: hsl(330, 100%, 98%);
  border-radius: 6px;
}

.prep-time-card h3 {
  color: hsl(332, 51%, 32%);
  font-size: 18px;
}

li {
  padding-left: 1rem;
  margin-bottom: 6px;
}

span {
  font-weight: 700;
  color: hsl(24, 5%, 18%);
}

.prep-time-card li::marker {
  color: hsl(332, 51%, 32%);
}

li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}

table {
  border-collapse: collapse;
  line-height: 1.5;
}

tr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1em;
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

.highlighted {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}

hr {
  border: 1px solid hsl(30, 18%, 87%);
}

@media (max-width: 500px) {
  .container {
    margin: 0;
  }

  .card {
    border-radius: 0;
    margin: 0;
  }

  img {
    border-radius: 0;
  }
}

.attribution {
  margin-top: 10px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
